.DS_Store
.env
.env.*
*.log
*.pem
*.key
*.p12
*.jks
*.keystore

.idea/
*.iml

skilloport/node_modules/
skilloport/dist/
skilloport/data/

skilloport-backend/target/
skilloport-backend/data/
skilloport-backend/.idea/
